.main_container{
    background-color: rgb(227,241,254);
    padding: 0;
}
.navContainer{
    /* margin: 0; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.logo{
    margin-right: auto;
    margin: 0;
    padding: 0;
}
.rightSide_nav{
    display: flex;
    align-items: center;
}