 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;900&family=Montserrat:ital,wght@0,500;1,500&family=Poppins:ital@1&display=swap');

  
.sidebar_container{
    width: 17%;
    /* height: 80vh; */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    overflow: hidden;

}
.profile_container{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}
.username{
    font-weight: 800;
    letter-spacing: 0cap;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(29, 28, 28);
    margin: 0;
}
.user_profile{
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    background-color: blueviolet;
}
/* .text_container {
    max-width: 100%;
    overflow: hidden;
  } */
  
.userEmail{
    font-size: 15px;
    /* font-weight: 600; */
}
.li_container{
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
li {
    display: flex;
    align-items: center;
    list-style-type: none;
    /* font-weight: 900; */
    width: 85%;
    border-bottom: 0.5px solid rgb(238, 236, 236);
    border-top: 0.5px solid rgb(238, 236, 236);
    border-right: 0.5px solid rgb(238, 236, 236);
    margin-top: 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px;
    color: rgb(63, 62, 62);
    transition: background-color 0.9s ease, box-shadow 0.3s ease, color 0.3s ease; 

}
li:hover{
    background-color: rgb(154, 214, 238);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: white;
}
li h6{
    font-weight: 600;
}
.logout{
    color: rgb(22, 145, 194);
    font-weight: 600;
    text-align: center;
}


@media (max-width: 768px) {
  .sidebar_container {
    display: none;
  }
}
